<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VSTO_Excel_WebView2.ChungJee" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="VSTO_Excel_WebView2.ChungJee.ChungJee" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="VSTO_Excel_WebView2.My.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="VSTO_Excel_WebView2.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- 本节定义 My.Application.Log 的登录配置-->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- 取消注释以下一节可写入应用程序事件日志-->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- 取消注释以下一节并用应用程序名替换 APPLICATION_NAME 可写入应用程序事件日志-->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>

    <userSettings>
        <VSTO_Excel_WebView2.ChungJee>
            <setting name="strNasHostName" serializeAs="String">
                <value>http://120.211.170.8:5000</value>
            </setting>
            <setting name="strNasUserName" serializeAs="String">
                <value>zhanglj</value>
            </setting>
            <setting name="strNasPassWord" serializeAs="String">
                <value />
            </setting>
            <setting name="con_BASE_DATA" serializeAs="String">
                <value>基础数据</value>
            </setting>
            <setting name="strNasSid" serializeAs="String">
                <value />
            </setting>
            <setting name="con_COMPANY_INFO" serializeAs="String">
                <value>单位信息表</value>
            </setting>
            <setting name="con_NAS_HOME_FOLDERNAME" serializeAs="String">
                <value>home/</value>
            </setting>
            <setting name="con_START_DATE" serializeAs="String">
                <value>开始日期：</value>
            </setting>
            <setting name="con_END_DATE" serializeAs="String">
                <value>结束日期：</value>
            </setting>
            <setting name="strTabName" serializeAs="String">
                <value>数据聚合</value>
            </setting>
        </VSTO_Excel_WebView2.ChungJee>
        <VSTO_Excel_WebView2.ChungJee.ChungJee>
            <setting name="strNasHostName" serializeAs="String">
                <value>http://120.211.170.8:5000</value>
            </setting>
            <setting name="strNasUserName" serializeAs="String">
                <value>zhanglj</value>
            </setting>
            <setting name="strNasPassWord" serializeAs="String">
                <value>19781206aB</value>
            </setting>
            <setting name="con_BASE_DATA" serializeAs="String">
                <value>基础数据</value>
            </setting>
            <setting name="strNasSid" serializeAs="String">
                <value />
            </setting>
            <setting name="con_COMPANY_INFO" serializeAs="String">
                <value>单位信息表</value>
            </setting>
            <setting name="con_NAS_HOME_FOLDERNAME" serializeAs="String">
                <value>home</value>
            </setting>
            <setting name="con_START_DATE" serializeAs="String">
                <value />
            </setting>
            <setting name="con_END_DATE" serializeAs="String">
                <value />
            </setting>
        </VSTO_Excel_WebView2.ChungJee.ChungJee>
        <VSTO_Excel_WebView2.My.Settings>
            <setting name="strNasHostName" serializeAs="String">
                <value>http://120.211.170.8:5000</value>
            </setting>
            <setting name="strNasUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="strNasPassWord" serializeAs="String">
                <value />
            </setting>
            <setting name="设置" serializeAs="String">
                <value />
            </setting>
        </VSTO_Excel_WebView2.My.Settings>
        <VSTO_Excel_WebView2.Settings>
            <setting name="strNasHostName" serializeAs="String">
                <value>http://120.211.170.8:5000</value>
            </setting>
            <setting name="strNasUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="strNasPassWord" serializeAs="String">
                <value />
            </setting>
        </VSTO_Excel_WebView2.Settings>
    </userSettings>
</configuration>
